VITE_SUPABASE_URL=https://gvtnkltpaosyiuouqqwq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mjStggGVqgjkgsFAeogOTA_lr2Cl30F
SUPABASE_URL=https://gvtnkltpaosyiuouqqwq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=admin@hadevelopers.com
ADMIN_PASSWORD=change-this-password
PORT=5050
